@color-logo: #fff;
@color-white: #fff;
@color-black: #222;
@background-color: #f7f7f7;
@primary: #ff8533;
@color-border: #e4e4e4;
@color-anchor: #ff8533;
@color-star: #fff300;
@bgcolor-footer: #b7c9d6;
@color-red: #F51C1C;
@color-green: #109a44;
@body-color: #454545;
@color-base: lighten(@primary, 10%);
@body-color-dark: darken(@body-color, 10%);
@menu-height: 65px;
