<section class="container-fluid content-min-set">
	<div class="setting min-height">
		<div class="row">
			<div class="col-md-12 bg-white">
				<div class="cont-setting">
					<div class="tab2">
						<hr>
						<div class="cat-type color-black">
							<h4>Category Info</h4>
							<div class="row">
								<div class="col-md-12">
									<label for="">Category:</label>
									<input type="text" class="form-control text-large" placeholder="">
									<hr class="margin-top-zero">
								</div>
								<div class="col-md-12">
									<label for="">Years of Experience:</label>
									<input type="text" class="form-control text-large" placeholder="">
									<hr class="margin-top-zero">
								</div>
							</div>
							<div class="row padding-btm-zero">
								<div class="col-md-12">
									<label for="">Description:</label>
									<textarea type="text" class="form-control text-large" placeholder="Tell us about your hobby" rows="5" cols="50"></textarea>
									<hr class="margin-top-zero">

								</div>
							</div>
							<div class="row padding-btm-zero">
								<div class="col-md-12">
									<label for="">Skills:</label>
									<tags-input ng-model="tags" placeholder=""></tags-input>
									<hr class="margin-top-zero">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="">
										<p><i class="fa fa-plus"></i> Add Your Awards and Honors </p>
									</div>
									<div class="" ng-class="show">
										<label for="">Awards and Honors:</label>
										<input type="text" class="form-control text-large" placeholder="">
									</div>
								</div>
								<div class="col-md-6">
									<div class="">
										<p><i class="fa fa-plus"></i> Add Your Websites </p>
									</div>
									<div class="" ng-class="show">
										<label for="">Websites:</label>
										<input type="text" class="form-control text-large" placeholder="">
									</div>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-md-6">
									<div class="">
										<p><i class="fa fa-plus"></i> Add Your Video Links </p>
									</div>
									<div class="" ng-class="show">
										<label for="">Video Links:</label>
										<input type="text" class="form-control text-large" placeholder="">
									</div>
								</div>
								<div class="col-md-6">
<!--
									<div class="compantlogo">
										<p><i class="fa fa-plus"></i> Add Your Photos </p>
										<div class="company-box">
											<label for="exampleInputEmail1">Add Photos</label>
											<div class="pic-add pull-right">
												<div class="circle-add">
													Click here to Add Photos <i class="fa fa-plus"></i>
												</div>
											</div>
											<div class="add-photo-holder">
												<h4 class="text-center"> Add Photos </h4>
											</div>
										</div>
									</div>
-->

								</div>
							</div>
							<div class="">
								<hr>
								<h4>Educational Qualification</h4>
								<div class="">
									<p><i class="fa fa-plus"></i> Add Your Educational Qualification</p>
								</div>
								<div ng-class="show">
									<div class="row">
										<div class="col-md-6">
											<label for="">Degree Title:</label>
											<input type="text" class="form-control text-large" placeholder="">
										</div>
										<div class="col-md-6">
											<label for="">Institute Name:</label>
											<input type="text" class="form-control text-large" placeholder="">
										</div>
										<div class="col-md-6">
											<label for="">Year of passing:</label>
											<input type="text" class="form-control text-large" placeholder="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="submit-btn padding-btm-zero margin-btm btn-made">
						<button type="button" class="btn btn-default">Wait for the Review</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>