<section class="container content-min">
  <div class="full-tab">
    <div class="row">
      <div class="col-md-12">
        <h4 class="head">Bookings</h4>
        <div class="grp-tabs">
          <ul>
            <li class="tab" ng-class="{active:activate}" ng-click="changeTab(1)">My Bookings</li>
            <li class="tab" ng-class="{active:!activate}" ng-click="changeTab(2)">Bookings for me</li>
          </ul>
        </div>
        <div class="tab-cont-main">
          <div class="made padding" ng-if="historytab=='1'">

            <div class="row">
              <div class="col-md-3" ng-repeat="user in history">
                <div class="grid-layout">

                  <div class="img-holder">
                    <img class="img-responsive img-height doneLoading" ng-src="{{user.img}}" src="img/info/info1.jpg">
                    <div class="ribbon-wrapper">
                      <div class="ribbon">PRO</div>
                    </div>
                  </div>

                  <div class="user-data">
                    <h1>{{user.name}}</h1>
                    <p>
                      {{user.designation}}</p>
                    <p>
                      {{user.date}}</p>
                    <p class="amount">
                      <i class="fa fa-inr"></i>{{user.cost}}</p>
                    <button class="btn btn-danger" type="button">Cancel</button>
                  </div>

                </div>
              </div>
            </div>

          </div>
          <div class="you" ng-if="historytab=='2'">
            <div class="tab-cont" ng-repeat="user1 in history1">
              <div class="row">
                <div class="col-md-3">
                  <div class="img-holder nomg">
                    <img class="img-responsive img-height doneLoading" ng-src="{{user1.img}}" src="img/info/info1.jpg">
                    <div class="ribbon-wrapper">
                      <div class="ribbon">PRO</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="made-cont">
                    <h1>{{user1.name}}</h1>
                    <p>{{user1.designation}}</p>
                    <p>With User:
                      {{user1.username}}</p>
                    <p>{{user1.date}}</p>
                    <p class="price">
                      <i class="fa fa-inr"></i>
                      {{user1.cost}}</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <!--
                                    <div class="history-btn">
                                        <button type="button" class="btn btn-success">Book</button>
                                    </div>
-->
                  <div class="history-btn booking-mid">
                    <button class="btn btn-danger" type="button">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
