<section class="container content-min">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="bg-light full-tab shwd">
                <div class="checkout">
                    <h4 class="head">Checkout</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <label>No of Units</label>
                        </div>
                        <div class="col-md-6">2 Units <span>( 1 unit is equal to half hour )</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Date</label>
                        </div>
                        <div class="col-md-6">
                            21/08/15 <span>( 8:30 am -9:30 am )</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Total Amount</label>
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-inr"></i> 6000/-
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Wallet Balance</label>
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-inr"></i> 17000/-
                        </div>
                    </div>
                </div>
                <div class="btn-grp">
                    <button type="button" class="btn btn-success">Pay Now</button>
                </div>
            </div>
        </div>
    </div>
</section>