<section class="container content-min">
	<div class="how-work">
		<h4 class="text-center bold margin-add upper">Expert User</h4>
		<div class="row">
			<div class="col-md-9">
				<div class="clipboard">
					<div class="hover">
						<div class="hover1 text-center {{myClass}}">
							<img src="img/works/{{worksImg}}">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box-main" ng-mouseenter="worksImg = 'works5.png'">
					<div class="box text-center">
						<div class="icon-box ">
							<i class="fa fa-user fa-4x"></i>
						</div>
						<h4 class="bold">Register as normal user</h4>
						<p class="">You can register as normal user.</p>
					</div>
					<div class="number text-center">
						1
					</div>
				</div>
				<div class="box-main" ng-mouseenter="worksImg = 'works6.png'">
					<div class="box text-center">
						<div class="icon-box ">
							<i class="fa fa-edit fa-4x"></i>
						</div>
						<h4 class="bold">Setup Professional Profile</h4>
						<p class="">Then setup your professional profile.</p>
					</div>
					<div class="number text-center">
						2
					</div>
				</div>
				<div class="box-main" ng-mouseenter="worksImg = 'works7.png'">
					<div class="box text-center">
						<div class="icon-box ">
							<i class="fa fa-clock-o fa-4x"></i>
						</div>
						<h4 class="bold">Wait for Verification</h4>
						<p class="">Wait until we verify your profile.</p>
					</div>
					<div class="number text-center">
						3
					</div>
				</div>
				<div class="box-main" ng-mouseenter="worksImg = 'works8.png'">
					<div class="box text-center">
						<div class="icon-box ">
							<!--							<i class="fa fa-inr fa-5x"></i>-->
							<i class="fa fa-credit-card fa-4x"></i>
						</div>
						<h4 class="bold">Start Earning</h4>
						<p class="">As the verification is done you can start earning.</p>
					</div>
					<div class="number text-center">
						4
					</div>
				</div>
				<div class="button-block text-center">
					<a href="#/home" type="button" class="btn btn-primary text-upper more-padding-gtsrt">Get Started</a>
				</div>
			</div>
		</div>
	</div>

	<!--
		<div class="row box-main">
			<div class="col-md-3 col-sm-6">
				<div class="box text-center">
					<div class="icon-box ">
						<i class="fa fa-user fa-5x"></i>
					</div>
					<h4 class="bold">Register as normal user</h4>
					<p class="">You can register as normal user.</p>
				</div>
				<div class="number text-center">
					1
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box text-center">
					<div class="icon-box ">
						<i class="fa fa-edit fa-5x"></i>
					</div>
					<h4 class="bold">Setup Professional Profile</h4>
					<p class="">Then setup your professional profile.</p>
				</div>
				<div class="number text-center">
					2
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box text-center">
					<div class="icon-box ">
						<i class="fa fa-clock-o fa-5x"></i>
					</div>
					<h4 class="bold">Wait for Verification</h4>
					<p class="">Wait until we verify your profile.</p>
				</div>
				<div class="number text-center">
					3
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box text-center">
					<div class="icon-box ">
						<i class="fa fa-inr fa-5x"></i>
						<i class="fa fa-credit-card fa-5x"></i>
					</div>
					<h4 class="bold">Start Earning</h4>
					<p class="">As the verification is done you can start earning.</p>
				</div>
				<div class="number text-center">
					4
				</div>
			</div>
		</div>
-->

	</div>
</section>