<section class="container content-min">
    <div class="bg-light full-tab">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="grp-tabs">
                    <ul>
                        <li class="tab active">You Made</li>
                        <li class="tab">For you</li>
                    </ul>
                </div>
                <div class="tab-cont-main">
                    <div class="tab-cont">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="img-holder">
                                    <img ng-src="img/info/info1.jpg" class="img-responsive img-height doneLoading" src="img/info/info1.jpg">
                                    <img src="img/info/pro.png" class="pro-tab doneLoading">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h1>Amar Chhetri</h1>
                                <p> Web developer</p>
                                <p class="price"> <i class="fa fa-inr"></i> 5000/-</p>
                            </div>
                            <div class="col-md-4">
                                <div class="history-btn">
                                    <button type="button" class="btn btn-success">Book</button>
                                </div>
                                <div class="history-btn">
                                    <button type="button" class="btn btn-danger">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-cont">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="img-holder">
                                    <img ng-src="img/info/info1.jpg" class="img-responsive img-height doneLoading" src="img/info/info1.jpg">
                                    <img src="img/info/pro.png" class="pro-tab doneLoading">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h1>Amar Chhetri</h1>
                                <p> Web developer</p>
                                <p class="price"> <i class="fa fa-inr"></i> 5000/-</p>
                            </div>
                            <div class="col-md-4">
                                <div class="history-btn">
                                    <button type="button" class="btn btn-success">Book</button>
                                </div>
                                <div class="history-btn">
                                    <button type="button" class="btn btn-danger">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>