<div class="slider-holder">
    <flex-slider flex-slide="s in mySlides">
        <li>
            <figure>
                <img ng-src="{{s.img}}">
                <figcaption>{{s.imgcaption}}</figcaption>
            </figure>
        </li>
    </flex-slider>
</div>

<div class="box-contain">
    <div class="container">
        <div class="head-home text-center">
            <h1>
Get expert
</h1>
            <h2>
for your  Work
</h2>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <form class="form-horizontal" role="form">
                    <div class="form-group input-group ingroup">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn"><button class="btn btn-default" type="submit">
                        <i class="fa fa-search"></i> 
                       </button></span>
                    </div>
                    <div class="or text-center">OR</div>
                    <div class="form-group select-drop pad-btm">
                        <select class="form-control" id="sel1">
                            <option>Design</option>
                            <option>Design</option>
                            <option>Design</option>
                            <option>Design</option>
                        </select>
                    </div>
                    <div class="form-group select-drop pad-btm">
                        <select class="form-control" id="sel1">
                            <option>Design Some Business Cards</option>
                            <option>Design Some Business Cards</option>
                            <option>Design Some Business Cards</option>
                            <option>Design Some Business Cards</option>
                        </select>
                    </div>
                    <div class="form-group submit-btn pad-btm">
                        <button type="button" class="btn btn-info btn-block">Get Started Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>