<section class="content-min">
  <div class="slider-holder">
    <flex-slider flex-slide="s in mySlides">
      <li>
        <figure>
          <img ng-src="{{s}}">
          <figcaption>Get an expert on a click of button</figcaption>
        </figure>
      </li>
    </flex-slider>
  </div>

  <div class="box-contain">
    <div class="container">
      <div class="head-home text-center">
        <h1>
<span class="bold">Get expert</span> <br>
<span class="thin">for your Work</span>
</h1>
      </div>
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <form class="form-horizontal" role="form">
            <div class="form-group input-group ingroup">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                            <a class="btn btn-default btn-color" href="#/search-pro" type="submit">
                        <i class="fa fa-search"></i>
                       </a></span>
            </div>
            <div class="or text-center">OR</div>
            <div class="form-group select-drop pad-btm">
              <select class="form-control" id="sel1">
                <option>Design</option>
                <option>Design</option>
                <option>Design</option>
                <option>Design</option>
              </select>
            </div>
            <div class="form-group select-drop pad-btm">
              <select class="form-control" id="sel1">
                <option>Design Some Business Cards</option>
                <option>Design Some Business Cards</option>
                <option>Design Some Business Cards</option>
                <option>Design Some Business Cards</option>
              </select>
            </div>
            <div class="form-group pad-top-zero submit-btn pad-btm">
              <a href="#/search-pro" type="button" class="btn btn-info btn-block">Get Started Now</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

