<section class="container content-min">
<div class="how-work">
		<h4 class="text-center bold margin-top upper">NORMAL USER</h4>
		<div class="row box-main">
			<div class="col-md-3 col-sm-6">
				<div class="box text-center">
					<div class="icon-box ">
						<i class="fa fa-search-plus fa-5x"></i>
					</div>
					<h4 class="bold">Search for an expert</h4>
					<p class="">You can search for an expert from the home page.</p>
				</div>
				<div class="number text-center">
					1
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box text-center">
					<div class="icon-box ">
						<i class="fa fa-check-square-o fa-5x"></i>
					</div>
					<h4 class="bold">Pick an expert</h4>
					<p class="">We provide you multiple options of expert to you.</p>
				</div>
				<div class="number text-center">
					2
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box text-center">
					<div class="icon-box ">
						<i class="fa fa-question fa-5x"></i>
					</div>
					<h4 class="bold">Ask them a query</h4>
					<p class="">You can search for an expert from the home page.</p>
				</div>
				<div class="number text-center">
					3
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box text-center">
					<div class="icon-box ">
						<i class="fa fa fa-phone fa-5x"></i>
					</div>
					<h4 class="bold">Get on call with them</h4>
					<p class="">You can search for an expert from the home page.</p>
				</div>
				<div class="number text-center">
					4
				</div>
			</div>
		</div>
		
		<div class="button-block text-center">
			<a href="#/home" type="button" class="btn btn-primary text-upper more-padding-gtsrt">Get Started</a>
		</div>
	</div>
</section>
