<section class="popup-all" ng-controller="headerctrl">
    <div class="ngdialog-close close"></div>
    <div class="popup-dialogbox">
        <div class="loggy">
            <h4 class="text-center">
        Do you want Fill Professional Profile ?
      </h4>
            <div class="btn-group btn-yes-no">
                <button class="btn btn-primary" ng-click="gotoProfessional();">Yes</button>
                <button class="btn btn-danger" ng-click="gotoHome();">No</button>
            </div>
        </div>
    </div>
</section>
