<section class="popup-all">
    <!-- <div class="ngdialog-close close"></div> -->
    <div class="popup-dialogbox">
        <div class="loggy">
            <h4 class="text-center">Please enter your professional details to be listed as expert here.</h4>
            <div class="btn-group btn-yes-no">
                <button class="btn btn-primary" ng-click="gotoProfessional();">Continue</button>
                <button class="btn btn-danger" ng-click="gotoHome();">No, Just save personal details</button>
            </div>
        </div>
    </div>
</section>
