<section class="container content-min">
	<div class="quickview-pro bg-white">
		<div class="row pad-20">
			<div class="ngdialog-close close"></div>
			<div class="col-md-4">
				<div class="pro-make box-pro made-pro bg-white" scroll>
					<div class="img-holder-big">
						<img ng-src="img/info/info1.jpg" class="img-responsive img-height">
					</div>
					<div class="pro-content">
						<h3 class="head-name">{{profile.name}}</h3>
						<p class="title">{{profile.city}}, {{profile.country}} </p>
						<p class="title">
							{{profile.age}} yrs, {{profile.gender}} </p>
						<p class="consult">
							<label>No of Consults:</label> {{profile.consultcount}}</p>
					</div>
					<div class="social">
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-youtube"></i></a>
						<a href="#"><i class="fa fa-facebook"></i></a>
					</div>
				</div>
				</div>
				<div class="col-md-8">
					<div class="details">
						<h4 class="sub-head">Description</h4>
						<p>Courteous, excellent organisational skills and highly efficient with a unique understanding of the travel industry and the people who work in it. An experienced travel agent who is able to make the best possible travel arrangements for a clients
							destination, mode of transport and travel dates. Highly motivated, target driven and with exceptional multi tasking skills along with an ability to produce tailor-make itineraries for travel to short or long haul destinations.
						</p>
					</div>
					<div class="box-pro">
						<div class="skills">
							<h4 class="sub-head">Skills</h4>
							<span class="badge skill-tag">Service Orientation</span>
							<span class="badge skill-tag">Time Management</span>
							<span class="badge skill-tag"> Instructing </span>
							<span class="badge skill-tag"> Monitoring </span>
						</div>
					</div>
					<div class="submit-pro text-center">
				<button class="btn btn-default text-large">
							<i class="fa fa-phone"></i>		Book Now
						</button>
					</div>
				</div>
			</div>
		</div>
</section>
