<section class="container content-min">
    <div class="quickview-pro bg-white">
        <div class="row pad-20">
            <div class="col-md-4">
                <div class="img-holder">
                    <img ng-src="img/info/info1.jpg" class="img-responsive img-height">
                    <div class="ribbon-wrapper">
                        <div class="ribbon">PRO</div>
                    </div>
                </div>

                <div class="bio-pro">
                    <h3 class="head-name">{{profile.name}}i</h3>
                    <p class="title">{{profile.current}} </p>
                    <p class="company">
                        {{profile.company}}</p>
                    <p class="locality">
                        {{profile.location}}</p>
                </div>

            </div>
            <div class="col-md-8">
                <div class="skills box-pro">
                    <h3 class="sub-head">Skills</h3>
                    <p>{{profile.skills}}</p>
                </div>
                <div class="skills box-pro">
                    <h3 class="sub-head">Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur explicabo dolores culpa veniam enim, laudantium, quasi id nihil. Vel nobis, eum nostrum dolore fuga possimus ducimus sequi accusamus dolor harum.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="action-button ask-pad">
                    <a href="#/pro" type="button" class="btn btn-default mgbot"><i class="fa fa-phone"></i> Book Now</a>
                </div>

            </div>
        </div>
    </div>
</section>