<section class="container content-min">
	<div class="full-pro">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="pro-full">
					<div class="ngdialog-close close"></div>
					<div class="pro-make box-pro">
						<div class="row">
							<div class="col-md-5">
								<div class="img-holder">
									<img ng-src="img/info/info1.jpg" class="img-responsive img-height">
									<div class="ribbon-wrapper">
										<div class="ribbon">PRO</div>
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div class="mobile">
									<h1 class="head-name">{{profile.name}}i</h1>
									<p class="title">{{profile.current}} </p>
									<p class="company">
										{{profile.company}}</p>
									<p class="locality">
										{{profile.location}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="skills box-pro">
						<h4 class="sub-head">Skills</h4>
						<p>{{profile.skills}}</p>
					</div>
					<div class="web box-pro">
						<h4 class="sub-head">Websites</h4>
						<ul class="website-link">
							<li ng-repeat="website in profile.websites"><a href="">{{website.link}}</a> </li>
						</ul>
					</div>
					<div class="honors box-pro">
						<h4 class="sub-head">Honors &amp; Awards</h4>
						<p>{{profile.honors.name}}</p>
						<p>{{profile.honors.desc}}.</p>
					</div>
					<div class="details box-pro">
						<h4 class="sub-head">Personal Details</h4>
						<p>
							<label>Experince :</label> {{profile.experience}} yrs</p>
						<p>
							<label>Country :</label> {{profile.country}}</p>
						<p>
							<label>City :</label> {{profile.city}}</p>
						<p>
							<label>Age :</label> {{profile.age}} yrs</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>