<section class="container content-min">
    <div class="row margin-top">
        <div class="col-md-12">
            <h4 class="head">professional</h4>
        </div>
    </div>
    <div class="pro-magic">
        <div class="col-md-3 col-sm-3 pad-zero">
            <div class="pro-make box-pro made-pro bg-white" scroll>
                <div class="img-holder-big">
                    <img src="img/profile.png" class="img-responsive img-height" ng-if="!profile.user.image">
                    <img ng-src="{{profile.user.image | uploadpath}}" class="img-responsive img-height" ng-if="profile.user.image">
                </div>
                <div class="pro-content">
                    <h3 class="head-name">{{profile.user.firstname}} {{profile.user.lastname}}</h3>
                    <p class="title">{{profile.user.city}}, {{profile.user.country}} </p>
                    <p class="title">
                        23{{profile.age}} yrs,
                        <span ng-if="profile.user.gender=='1'">Male</span>
                        <span ng-if="profile.user.gender=='2'">Female</span>
                    </p>
                    <p class="consult title">
                        <label>No of Consults:</label>13 {{profile.consultcount}}</p>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
                <div class="social">
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <div class=" col-md-9 col-sm-9" scroll>
            <div class="professional full-pro ">
                <div class="box-pro">
                    <div class="pull-right">
                        <!-- <a href="#/setting" type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Edit</a> -->
                        <a href="#/pro" type="button" class="btn btn-default"><i class="fa fa-phone"></i> Book Now</a>
                    </div>
                    <h3>{{profile.profession.category}}
						<span class="badge badge-danger">Rs. 500/-</span>
					</h3>
                    <hr class="horizontal">
                    <div class="details">
                        <h4 class="sub-head">Description</h4>
                        <!-- <p>Courteous, excellent organisational skills and highly efficient with a unique understanding of the travel industry and the people who work in it. An experienced travel agent who is able to make the best possible travel arrangements for a clients
							destination, mode of transport and travel dates. Highly motivated, target driven and with exceptional multi tasking skills along with an ability to produce tailor-make itineraries for travel to short or long haul destinations.
						</p> -->
                        <p>{{profile.profession.description}}</p>
                    </div>
                </div>
                <div class="box-pro" ng-if="profile.profession.skills.length>0">
                    <div class="skills">
                        <h4 class="sub-head">Skills</h4>
                        <span class="badge skill-tag" ng-repeat="skill in profile.profession.skills">{{skill.text}}</span>
                        <!-- <span class="badge skill-tag">Time Management</span>
						<span class="badge skill-tag"> Instructing </span>
						<span class="badge skill-tag"> Monitoring </span> -->
                    </div>
                </div>
                <div class="box-pro" ng-if="profile.profession.websites.length>0">
                    <div class="web">
                        <h4 class="sub-head">Websites</h4>
                        <a ng-repeat="website in profile.profession.websites" class="website-link" href="{{website.websites}}">{{website.websites}}</a>
                    </div>
                </div>
                <div class="box-pro" ng-if="profile.profession.awards.length>0">
                    <div class="honors">
                        <h4 class="sub-head">Honors &amp; Awards</h4>
                        <p ng-repeat="award in profile.profession.awards">{{award.awards}}</p>
                        <!-- <p>{{profile.honors.desc}}.</p> -->
                    </div>
                </div>
                <div class="box-pro" ng-if="profile.profession.videos.length>0">
                    <div class="videos">
                        <h4 class="sub-head">Videos</h4>
                        <div class="row">
                            <div class="col-md-2 col-sm-3" ng-repeat="video in profile.profession.videos" ng-click="showVideo(video);">
                                <div class="video-holder">
                                    <img ng-src="{{video.videos | youtubeimg}}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-pro text-center">
                <button class="btn btn-default shwd" ng-click="toggle();">
                    <span ng-if="showAmature==false">show</span> <span ng-if="showAmature==true">hide</span> hobbies
                </button>
            </div>
            <div class="professional full-pro" ng-if="showAmature">
                <div class="box-pro">
                    <div class="submit-pad">
                        <a href="#/pro" type="button" class="btn btn-default"><i class="fa fa-phone"></i> Book Now</a>
                    </div>
                    <h3>{{profile.hobby.category}}
						<span class="badge badge-sucess">Rs. 250/-</span>
					</h3>
                    <hr class="horizontal">
                    <div class="details">
                        <h4 class="sub-head">Description</h4>
                        <!-- <p>Courteous, excellent organisational skills and highly efficient with a unique understanding of the travel industry and the people who work in it. An experienced travel agent who is able to make the best possible travel arrangements for a clients
							destination, mode of transport and travel dates. Highly motivated, target driven and with exceptional multi tasking skills along with an ability to produce tailor-make itineraries for travel to short or long haul destinations.
						</p> -->
                        <p>{{profile.hobby.description}}</p>
                    </div>
                </div>
                <div class="box-pro" ng-if="profile.hobby.skills.length>0">
                    <div class="skills">
                        <h4 class="sub-head">Skills</h4>
                        <span class="badge skill-tag" ng-repeat="skill in profile.hobby.skills">{{skill.text}}</span>
                        <!-- <span class="badge skill-tag">Time Management</span>
						<span class="badge skill-tag"> Instructing </span>
						<span class="badge skill-tag"> Monitoring </span> -->
                    </div>
                </div>
                <div class="box-pro" ng-if="profile.hobby.websites.length>0">
                    <div class="web">
                        <h4 class="sub-head">Websites</h4>
                        <a ng-repeat="website in profile.hobby.websites" class="website-link" href="{{website.websites}}">{{website.websites}}</a>
                    </div>
                </div>
                <div class="box-pro" ng-if="profile.hobby.awards.length>0">
                    <div class="honors">
                        <h4 class="sub-head">Honors &amp; Awards</h4>
                        <p ng-repeat="award in profile.hobby.awards">{{award.awards}}</p>
                        <!-- <p>{{profile.honors.desc}}.</p> -->
                    </div>
                </div>
                <div class="box-pro" ng-if="profile.hobby.videos.length>0">
                    <div class="videos">
                        <h4 class="sub-head">Videos</h4>
                        <div class="row">
                            <div class="col-md-2 col-sm-3" ng-repeat="video in profile.hobby.videos" ng-click="showVideo(video);">
                                <div class="video-holder">
                                    <!-- <img ng-src="{{video.src}}" class="img-responsive"> -->
                                    <img ng-src="{{video.videos | youtubeimg}}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>