<section class="container-fluid content-min-set">
	<div class="setting min-height">
		<div class="row">
			<div class="col-md-12 bg-white">
				<div class="cont-setting">
					<div class="tab2">
						<div class="row">
							<div class="col-md-4">
								<h4 class="head pad-top margin-buttom-zero">professional Details  </h4>
							</div>
							<div class="col-md-2">
								<div class="pad-tops">
									<button class="btn btnsoc twit"><i class="fa fa-linkedin"></i> Get from Linkedin</button>
								</div>
							</div>
							<div class="col-md-6">
								<div class="pad-tops pull-right">
									<button class="btn btn-primary" ng-click="showHelp();">Let us help you fill your data</button>
								</div>
							</div>
							<div class="col-md-12">
								<hr>
							</div>
						</div>
						<div class="row padding-btm-zero">
							<div class="col-md-12">
								<h4>Category Info</h4>
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control text-large" placeholder="Category">
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control text-large" placeholder="Company Name">
							</div>
						</div>
						<div class="row padding-btm-zero">
							<div class="col-md-6">
								<input type="tel" class="form-control text-large" placeholder="Mobile Number">
							</div>

							<div class="col-md-6">
								<input type="text" class="form-control text-large" placeholder="Experience in Years">
							</div>
						</div>
						<div class="row padding-btm-zero">
							<div class="col-md-12">
								<tags-input ng-model="tags"></tags-input>
								<hr class="margin-top-zero">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<h5>Description</h5>
								<textarea type="text" class="form-control text-large" placeholder="Description" rows="17" cols="50"></textarea>
							</div>
							<div class="col-md-6">
								<h5>Skills</h5>
								<textarea type="text" class="form-control text-large" rows="3" placeholder="Skills"></textarea>
								<h5>Website Url</h5>
								<div class="margin-btm ptn-relative">
									<input type="text" class="form-control text-large margin-zero" placeholder="Website Url"><span class="fa fa-plus form-control-feedback"></span>
								</div>
								<!--
							<div class="pull-right submit-btn padding-btm-zero">
	<button type="button" class="btn btn-default">Add More Links</button>
</div>
-->
								<h5>Youtube Url</h5>
								<div class="margin-btm ptn-relative">
									<input type="text" class="form-control text-large margin-zero" placeholder="Youtube Url"><span class="fa fa-plus form-control-feedback"></span>
								</div>
								<h5>Honors &amp; Awards</h5>
								<textarea type="text" class="form-control text-large min" placeholder="Honors & Awards"></textarea>
							</div>
						</div>
						<div class="row padding-btm-zero">
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Company Logo</label>
									<div class="photo-holder">
										<span ng-hide="user.image" class="">Photo</span>
										<div class="image-contain" style="background-image:url('');"></div>
									</div>
									<!-- ngIf: user.image -->
								</div>
								<div class="upload-div">
									<div class="upload-buttons">
										<input type="file" name="file" ng-file-select="onFileSelect($files,1)" onclick="this.value=null">
									</div>
									<div class="response ng-hide" ng-show="uploadResult.length > 0">
										<!-- ngRepeat: result in uploadResult -->
									</div>
								</div>
							</div>
							<div class="col-md-9">
								<label for="exampleInputEmail1">Add Photos</label>
								<div class="add-photo-holder">
									<h4 class="text-center"> Add Photos </h4>
								</div>
								<div class="pic-add pull-right">
									<div class="circle-add">
										Add Photos <i class="fa fa-plus"></i>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<div class="row">
										<div class="col-md-offset-3 col-md-6">
											<div class="text-center">
												<label for="usr" class="consulting-fee">consulting fees<span> (per half and hour) </span>: Rs 500 /-
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="text-center submit-btn btn-made margin-btm ">
							<button type="button" class="btn btn-default">Submit For Review</button>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>