<section class="container-fluid content-min-set">
	<div class="setting min-height">
		<div class="cont-setting">
			<div class="tab2">
				<div class="row">
					<div class="col-md-10">
						<div class="button-grp">
							<div class="pull-right">
								<button class="btn btn-primary" ng-click="showHelp();">Let us help you fill your data</button>
							</div>
							<div class="">
								<button class="btn btnsoc twit"> Get from Linkedin</button>
							</div>
						</div>
					</div>
				</div>
				<div class="cat-type color-black">
					<div class="row">
						<div class="col-md-10">
							<div class="head border-btm">
								<h4>Select Categories</h4>
							</div>
						</div>
					</div>
					<label class="or">You have Expertise in:</label>
					<div class="select-cat-1">
						<div class="row text-center">
							<div class="col-md-2 col-md-6">
								<div class="select-cat">
									<p>
										<i class="fa fa-graduation-cap fa-2x"></i>
									</p>
									<p class="cat-head">Career Counselling</p>
								</div>
							</div>
							<div class="col-md-2 col-md-6">
								<div class="select-cat active">
									<p>
										<i class="fa fa-suitcase fa-2x"></i>
									</p>
									<p class="cat-head">Travel</p>
								</div>
							</div>
							<div class="col-md-2 col-md-6">
								<div class="select-cat">
									<p>
										<i class="fa fa-heartbeat fa-2x"></i>
									</p>
									<p class="cat-head">Health</p>
								</div>
							</div>
							<div class="col-md-2 col-md-6">
								<div class="select-cat">
									<p>
										<i class="fa fa-child fa-2x"></i>
									</p>
									<p class="cat-head">Life style</p>
								</div>
							</div>
							<div class="col-md-2 col-md-6">
								<div class="select-cat">
									<p>
										<i class="fa fa-plus fa-2x"></i>
									</p>
									<p class="cat-head">Others</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="">
					<div class="row">
						<div class="col-md-10">
							<div class="head border-btm">
								<h4>Educational Qualification <span class="btn"><i class="fa fa-plus"></i> Add More</span></h4>
							</div>
						</div>
					</div>
					<div ng-class="show">
						<div class="row">
							<div class="col-md-4">
								<label for="">Degree Title:</label>
								<input type="text" class="form-control text-large" placeholder="Please enter the degree title">
							</div>
							<div class="col-md-4">
								<label for="">Institute Name:</label>
								<input type="text" class="form-control text-large" placeholder="Please enter the name of the college/school">
							</div>
							<div class="col-md-2">
								<label for="">Year of passing:</label>
								<input type="date" class="form-control text-large" placeholder="Year of passing">
							</div>
						</div>
					</div>
				</div>
				<!--						Experience-->
				<div class="">
					<div class="row">
						<div class="col-md-10">
							<div class="head border-btm">
								<h4>Experience<span class="btn"><i class="fa fa-plus"></i> Add More</span></h4>
							</div>
						</div>
					</div>
					<div ng-class="show">
						<div class="row">
							<div class="col-md-5">
								<label for="">Company Name:</label>
								<input type="text" class="form-control text-large" placeholder="Please enter your company name">
							</div>
							<div class="col-md-5">
								<label for="">Job Title:</label>
								<input type="text" class="form-control text-large" placeholder="Please enter your job title">
							</div>
							<div class="col-md-10">
								<label for="">Job Description:</label>
								<input type="text" class="form-control text-large" placeholder="Please enter your job description">
							</div>
							<div class="col-md-3">
								<label for="">Start Date:</label>
								<input type="date" class="form-control text-large" placeholder="Please enter your start date">
							</div>
							<div class="col-md-3">
								<label for="">End Date:</label>
								<input type="date" class="form-control text-large" placeholder="Please enter your end date">
							</div>
							<div class="col-md-3">
								<div class="choose-pic">
									<label for="">Company Logo:</label>
									<div class="choose-image">
										<i class="fa fa-user"></i>
										<div class="choose-btn">
											<span>Choose File</span>
											<input class="form-control" type="file">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row padding-btm-zero">
					<div class="col-md-10">
						<div class="head border-btm">
							<h4>Description and Skill</h4>
						</div>
						<label for="">Description:</label>
						<textarea type="text" class="form-control text-large" placeholder="Please enter the description" rows="5" cols="50"></textarea>
					</div>
				</div>
				<div class="row padding-btm-zero">
					<div class="col-md-10">
						<!--
								<div class="head border-btm">
									<h4>Skills:</h4>
								</div>
-->
						<label for="">Skills:</label>
						<tags-input ng-model="tags" placeholder=" Please enter your Skills"></tags-input>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="head border-btm">
							<h4>Awards and Honors <span class="btn"><i class="fa fa-plus"></i> Add More</span></h4>
						</div>
						<div class="" ng-class="show">
							<label>Awards and Honors:</label>
							<input type="text" class="form-control text-large" placeholder="Please enter awards and honors">
						</div>
					</div>
					<div class="col-md-5">
						<div class="head border-btm">
							<h4>Websites<span class="btn"><i class="fa fa-plus"></i> Add More</span></h4>
						</div>
						<div class="" ng-class="show">
							<label>Website:</label>
							<input type="text" class="form-control text-large" placeholder="Please enter website">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="head border-btm">
							<h4>Video Links<span class="btn"><i class="fa fa-plus"></i> Add More</span></h4>
						</div>
						<div class="" ng-class="show">
							<label>Video Links:</label>
							<input type="text" class="form-control text-large" placeholder="Please enter video links">
						</div>
					</div>
					<div class="col-md-5">
						<!--
								<div class="compantlogo">
									<p><i class="fa fa-plus"></i> Add Your Photos </p>
									<div class="company-box">
										<label for="exampleInputEmail1">Add Photos</label>
										<div class="pic-add pull-right">
											<div class="circle-add">
												Click here to Add Photos <i class="fa fa-plus"></i>
											</div>
										</div>
										<div class="add-photo-holder">
											<h4 class="text-center"> Add Photos </h4>
										</div>
									</div>
								</div>
-->
					</div>
				</div>
			</div>
			<div class="margin-btm btn-group">
				<button type="button" class="btn btn-primary">Wait for the Review</button>
				<button type="button" class="btn btn-primary">Fill Hobby Profile</button>
			</div>
		</div>
	</div>
</section>