<section class="container content-min">
  <div class="full-tab">
    <div class="row">
      <div class="col-md-12">
        <h4 class="head">Questions</h4>
        <div class="grp-tabs">
          <ul>
            <li class="tab" ng-class="{active:activate}" ng-click="changeTab(1)">Replies for my questions</li>
            <li class="tab" ng-class="{active:!activate}" ng-click="changeTab(2)">Questions for me</li>
          </ul>
        </div>
        <div class="tab-cont-main">
          <div class="made padding" ng-if="historytab=='1'">

            <div class="row">
              <div class="col-md-3" ng-repeat="user in youasked">
                <div class="grid-layout {{user.answer}}">

                  <div class="img-holder">
                    <img class="img-responsive img-height doneLoading" ng-src="{{user.img}}" src="img/info/info1.jpg">
                    <div class="ribbon-wrapper">
                      <div class="ribbon">PRO</div>
                    </div>
                  </div>

                  <div class="user-data">
                    <h1>{{user.name}}</h1>
                    <p>
                      Regarding Travel
                    </p>
                    <div class="qts-box">
                      <span class="bold">Question:</span>
                      <br>
                      Can you help me to select a good location for travel ?
                    </div>
                    <div class="history-btn qts-pdn">
                      <div class="btn btn-success answer" ng-show="{{user.answer == 'yes'}}">Yes</div>
                      <div class="btn btn-danger answer" ng-show="{{user.answer == 'no'}}">No</div>
                      <div class="btn btn-stable answer" ng-show="{{user.answer == 'wait'}}">Waiting for reply</div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
          <div class="you padding" ng-if="historytab=='2'">

            <div class="row">
              <div class="col-md-3" ng-repeat="user in askedyou">
                <div class="grid-layout">

                  <div class="img-holder">
                    <img class="img-responsive img-height doneLoading" ng-src="{{user.img}}" src="img/info/info1.jpg">
                  </div>

                  <div class="user-data">
                    <h1>{{user.name}}</h1>
                    <p>
                      Regarding
                      {{user.questiontag}}
                    </p>
                    <div class="qts-box">
                      <span class="bold">Question:</span>
                      <br>
                      {{user.question}}
                    </div>
                    <div class="button-dual">
                      <button class="btn btn-success">Yes</button>
                      <button class="btn btn-danger">No</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
