<section class="container content-min">
	<div class="full-tab">
		<div class="row">
			<div class="col-md-12">
				<h4 class="head">Questions</h4>
				<div class="grp-tabs">
					<ul>
<!--
						<li class="tab" ng-class="{active:activate}" ng-click="changeTab(1)">Replies for my questions</li>
						<li class="tab" ng-class="{active:!activate}" ng-click="changeTab(2)">Questions for me</li>
-->
							<li class="tab" ng-class="{active:tab.left}" ng-click="changeTab(1)">Replies for my questions</li>
						<li class="tab" ng-class="{active:tab.right}" ng-click="changeTab(2)">Questions for me</li>
					</ul>
				</div>
				<div class="tab-cont-main">
					<div class="made padding" ng-if="historytab=='1'">
						<h3>Following are the replies for the questions you've asked</h3>
						<div class="row">
							<div class="col-md-12">
								<div class="qts-box">
									<span class="bold">Question:</span>
									<br> Can you help me to select a good location for travel ?
								</div>
							</div>
							<div class="col-md-3" ng-repeat="user in youasked">
								<div class="grid-layout {{user.answer}}">
									<div class="hover-opacity">
										<a href="#/pro">
											<div class="img-holder">
												<img class="img-responsive img-height doneLoading" ng-src="{{user.img}}" src="img/info/info1.jpg">
												<div class="ribbon-wrapper">
													<div class="ribbon">PRO</div>
												</div>
											</div>
										</a>
										<div class="user-data">
											<a href="#/pro">
												<h1>{{user.name}}</h1>
												<p>
													Regarding Travel
												</p>
											</a>
											<div class="history-btn qts-pdn">
												<div class="btn btn-success answer" ng-show="{{user.answer == 'yes'}}">Yes</div>
												<div class="btn btn-danger answer" ng-show="{{user.answer == 'no'}}">No</div>
												<div class="btn btn-stable answer" ng-show="{{user.answer == 'wait'}}">Waiting for reply</div>
											</div>
										</div>
									</div>
									<div class="img-hover">
										<div class="button-dual">
											<a href="#/pro" class="btn btn-default"> <i class="fa fa-phone"></i> Book Now</a>
											<button class="btn btn-default" ng-click="showQuickview();"><i class="fa fa-eye"></i> Quick View</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr>
					</div>
					<div class="you padding" ng-if="historytab=='2'">
						<h3>Following are the question you have to answer</h3>
						<div class="row">
							<div class="col-md-3" ng-repeat="question in questionsForMe">
								<div class="grid-layout">
									<!--
									<div class="img-holder">
										<img class="img-responsive img-height doneLoading" ng-src="{{user.img}}" src="img/info/info1.jpg">
									</div>
-->
									<div class="user-data">
										<a href="#/pro/{{question.fromuser}}">
											<h1>{{question.category.firstname}} {{question.category.lastname}}</h1>
											<p>
												Regarding {{question.category.professioncategory}}
											</p>
										</a>

										<div class="qts-box">
											<span class="bold">Question:</span>
											<br> {{question.question}}
										</div>

										<div class="button-dual">
											<button class="btn btn-success">Yes</button>
											<button class="btn btn-danger">No</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--
						<div class="row questionsby" ng-repeat="question in askedyou">
							<div class="col-md-10">
								<div class="question-details">
									<h5>{{question.questiontag}}</h5>
									<h3>{{question.question}}</h3>
									<p>From : <a href="#/pro"><span>{{question.name}}</span></a></p>
								</div>
							</div>
							<div class="col-md-2">
								<div class="button-dual">
									<button class="btn btn-success">Yes</button>
									<button class="btn btn-danger">No</button>
								</div>
							</div>
						</div>
-->

					</div>
				</div>
			</div>
		</div>
	</div>
</section>