<section class="container content-min-set">
	<div class="setting min-height calendar">
		<div class="row bg-white box-shwd">
			<div class="col-md-12">
				<div class="sidemenu">
					<div class="row">
						<div class="col-md-10">
							<ul class="border-btm">
								<li ng-repeat="tab in tabs">
									<a ng-click="onClickTab(tab)" ng-class="{active:isActiveTab(tab.url)}">{{tab.title}}</a>
								</li>
								<li>
									<a href="#">+ Add More</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div ng-include="currentTab" class=""> </div>
			</div>
		</div>
	</div>
</section>