<section class="container content-min">
	<div class="withdrawal">
		<div class="row">
			<div class="col-md-8">
				<div class="panel">
					<div class="panel-heading">Pending withdrawals</div>
					<div class="panel-body">
						<div class="padding">
							<span class="price">Rs 2000.00</span> <span class="pull-right request"><b>Requested:</b> 21 Sep 2015</span>
						</div>
						<span class="bold">to mahesh@gmail.com via PayPal</span>
					</div>
					<div class="panel-footer">
						<p class="make">
							Your withdrawals will be processed on <span class="bold">October 15, 2015</span>
						</p>
						<button type="button" class="btn btn-primary block">Make a Withdrawal</button>
					</div>
				</div>
				<p class="pull-right">
					Minimum Amount You can withdraw up to <span class="bold"> Rs 2000.00</span> 
				</p>
			</div>
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">Default withdrawal account</div>
					<div class="panel-body">
						<p>mahesh@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>