<footer class="footer-menu">
	<div class="container">
		<div class="footer-border">
			<div class="row">
				<div class="col-md-2 col-sm-4">
					<div class="footer-cont">
					<h5>About</h5>
					<ul class="footer-link">
						<li><a href="">About Us</a></li>
						<li><a href="">How it Works</a></li>
						<li><a href="">Investor</a></li>
					</ul>
				</div>
			</div>
				<div class="col-md-2 col-sm-4">
						<div class="footer-cont">
					<h5>Press</h5>
					<ul class="footer-link">
						<li><a href="">In the News</a></li>
						<li><a href="">Press Release</a></li>
						<li><a href="">Testimonal</a></li>
					</ul>
				</div>
			</div>
				<div class="col-md-2 col-sm-4">
						<div class="footer-cont">
					<h5>Get In Touch</h5>
					<ul class="footer-link">
						<li><a href="">Get Support</a></li>
						<li><a href="">Contact Us</a></li>
						<li><a href="">Advertise with us</a></li>
					</ul>
				</div>
			</div>
				<div class="col-md-2">
						<div class="footer-cont">
					<div class="icons-social">
						<h5 class="text-center">Coming soon on</h5>
						<a href="" class="icons-inner android-icon"><i class="fa fa-android"></i></a>
						<a href="" class="icons-inner apple-icon"><i class="fa fa-apple"></i></a>
					</div>
				</div>
			</div>
				<div class="col-md-4">
					<div class="footer-cont">
					<div class="icons pull-right">
						<a href="" class="icons-inner fb-icon"> <i class="fa fa-facebook"></i></a>
						<a href="" class="icons-inner twit-icon"><i class="fa fa-twitter"></i></a>
						<a href="" class="icons-inner google-icon"><i class="fa fa-google-plus"></i></a>
						<a href="" class="icons-inner insta-icon"><i class="fa fa-instagram"></i></a>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</footer>
