<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-main">
                    <ul>
                        <li>
                            <a href="#"> 
                           Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a href="#"> Terms and condition
                            </a>
                        </li>
                        <li>
                            <a href="#"> 
                        Copy Right
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <p>Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>